arrow
beautifulsoup4
bs4
click
colorama
cycler
dateparser
flask
flask-cors
flask-sqlacodegen
Flask-SQLAlchemy
fonttools
form
greenlet
html5lib
importlib-metadata
inflect
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
moment
numpy
packaging
pandas
Pillow
PyMySQL
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
regex
scikit-learn
scipy
seaborn
six
soupsieve
SQLAlchemy
threadpoolctl
times
tzdata
tzlocal
urllib3
webencodings
Werkzeug
xgboost
zipp
requests~=2.28.1
fastapi
uvicorn[standard]
pydantic
httpx
python-dotenv
pandas
numpy
lightgbm
joblib
twilio
mysql-connector-python
