name: Terraform Deployment

on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # Required for assuming roles if we use OIDC, but good to have

env:
  AWS_REGION: ap-southeast-1

jobs:
  deploy:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Clean Terraform cache
        run: |
          rm -rf .terraform terraform.tfstate terraform.tfstate.backup

      - name: Terraform Format - Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Initial - Initialize (uses backend)
        run: terraform init -reconfigure -upgrade

      - name: Terraform Validate - Validate configuration
        run: terraform validate

      - name: Terraform Plan - Plan deployment
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_secret_key: ${{ secrets.SECRET_KEY }}
          TF_VAR_aws_ses_user: ${{ secrets.AWS_SES_USER }}
          TF_VAR_aws_ses_password: ${{ secrets.AWS_SES_PASSWORD }}

        run: terraform plan -out=tfplan

      - name: Terraform Apply - Apply changes
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_secret_key: ${{ secrets.SECRET_KEY }}
          TF_VAR_aws_ses_user: ${{ secrets.AWS_SES_USER }}
          TF_VAR_aws_ses_password: ${{ secrets.AWS_SES_PASSWORD }}
        run: terraform apply -auto-approve tfplan
