name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      confirmation:
        description: 'Type "destroy" to confirm destruction'
        required: true
        default: ''

permissions:
  contents: read

env:
  AWS_REGION: ap-southeast-1

jobs:
  destroy:
    name: Destroy Terraform Infrastructure
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify Confirmation
        if: inputs.confirmation != 'destroy'
        run: |
          echo "Error: You must type 'destroy' to confirm destruction."
          exit 1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Initialize Terraform (load remote state)
        run: terraform init -reconfigure -upgrade

      - name: Terraform Destroy
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_secret_key: ${{ secrets.SECRET_KEY }}
          TF_VAR_aws_ses_user: ${{ secrets.AWS_SES_USER }}
          TF_VAR_aws_ses_password: ${{ secrets.AWS_SES_PASSWORD }}

        run: terraform destroy -auto-approve
